<div class="card mb-3">
  <img class="card-img-top" src="https://cdn.hipwallpaper.com/i/94/38/ujwS5a.jpg" alt=" ">
  <div class="card-body" width="30rem">
    <h5 style="text-align:center" class="card-title">Grocery App</h5>
    <p class="card-text">Grocery app is one of the best booming app and user friendly application for the customers. This app help you to find fresh, hygienic and tasty ready to eat food.</p>
    <p class="card-text">In this application you can find fruits, vegetables and meat to tasty snacks, this is the favourite spot for Foodies...</p>
    <h6 style="color: purple;">So don't waste your time in physical shopping, we are here for you. Why waste time just login here and enjoy!!!</h6>
    <a routerLink="/login">Login</a>
    <h5>For new customers register here</h5>
    <a routerLink="/register">Register</a>
    <p class="card-text"><small class="text-muted">Have a nice day, Happy eating...</small></p>
  </div>
</div>
