<h2 style="text-align:center">Contact Details</h2>

<div class="center">

  <div class="row">


    <div class="column">
      <div class="card">
        <img src="https://tse3.mm.bing.net/th/id/OIP.OgxxvZWO5iudHmOYY1m47QHaHo?pid=ImgDet&rs=1" width="300" height="300"
          alt="" style="width:100%">
        <hr>
        <div class="container">
          <h2 style="text-align:center;">Aakanksha S</h2>
          <h6 class="title">Founder & Director of Brillio Groceries</h6>
          <p>Software Engineer at Brillio Bren Optimus</p>
          <p>Email : Aakanksha.S@BRILLIO.COM</p>
          <p>Contact Number : 8660997744</p>
          <p style="text-align:center;"><button class="btn btn-primary">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
